# APP ENV
SLACK_WEB_HOOK_URL=
NOMAD_EVENTS_TO_SLACK_DEBUG=false
NODE_NAMES=node1,node2,node3
JOB_IDS=oom-killed,job2,job3
EVENT_TYPES=Terminated,Restarting,Type2
EVENT_MESSAGE_FILTERS=OOM Killed,NotKilled
USE_CONSUL=true
CONSUL_KEY=nomad/nomad-events-to-slack

# NOMAD ENV
NOMAD_ADDR=http://127.0.0.1:4646
NOMAD_NAMESPACE=default
NOMAD_TOKEN=
NOMAD_REGION=global
NOMAD_CLIENT_CERT=
NOMAD_CLIENT_KEY=

# CONSUL ENV
CONSUL_HTTP_ADDR=http://127.0.0.1:8500
CONSUL_HTTP_TOKEN=
CONSUL_HTTP_AUTH=
CONSUL_HTTP_SSL=false
CONSUL_HTTP_SSL_VERIFY=false
CONSUL_CLIENT_CERT=
CONSUL_CLIENT_KEY=
CONSUL_NAMESPACE=default
