[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-nomad = "==1.2.1"
python-consul2 = "==0.1.4"
idna = "==2.10"
chardet = "==3.0.4"
certifi = "==2022.12.7"
urllib3 = "==1.26.5"

[requires]
python_version = "3.8"
